/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
	font-family: serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
	background-color: hsl(0, 0%, 95%);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;

}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 45em) {
    .centered {
        max-width: 45em;
    }
}

/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/

a {
	color: #002254;
	text-decoration: none;
	border-bottom: 2px solid;
}

a:hover,
a:focus {
	border-bottom-width: 4px;
}
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	font-family: 'PT Serif', serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/* Global layouts */
@media screen and (min-width: 700px) {
    .two-column {
        column-count: 2;
        column-gap: 2.4em;
    }
}

/* Global buttons */
.content-button {
	padding: .5em 1em;
	border: 3px solid #B51C35;
	/*border-radius: 10px;*/
	font-weight: 600;
}

a.content-button {
	color: black;
	text-decoration: none;
}

a.content-button:focus,
a.content-button:hover {
	background: #B51C35;
	color: #FFFCED;
}

/*--------------------------------------------------------------
Header styles
--------------------------------------------------------------*/

.masthead {
    padding: 1em 0;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    background-color: #002254;
}

.site-header {
	padding: 0 1em;
	display: flex;
	align-items: center;
}

.site-title {
	margin: 0 1em 0 0;
    font-size: 1.4em;
	font-weight: 400;
	color: white;
}

#loginform input,
#logout {
	margin: 0 .2em;
	padding: .1em .5em;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	color: black;
	border: 2px solid white;
	border-radius: 3px;
}

#loginform input[type=submit],
#logout {
	background: transparent;
	color: white;
}

#loginform input[type=submit]:hover,
#loginform input[type=submit]:focus {
	background: white;
	color: black;
}

#loginform label {
	margin-left: 1em;
	color: white;
}
.error {
	color: white;
	margin-left: 1em;
}



/*--------------------------------------------------------------
Main layout
--------------------------------------------------------------*/
.content {
	display: flex;
	flex-direction: row-reverse;
}

.main-area {
	position: relative;
	flex: 1 1 100%;
}
.navigation-list {
	width: 300px;
	flex: 0 0 300px;
}

/*--------------------------------------------------------------
Skeleton content
--------------------------------------------------------------*/
.skeleton {
	background-color: #ddd;
	color: #ddd;
	border-color: #ddd;
}

.post-content.skeleton {
	height: 10em;
}

/*--------------------------------------------------------------
Loader overlay
--------------------------------------------------------------*/

/* AJAX spinner for slow connections */
@keyframes spinner {
    to {transform: rotate(360deg);}
}

.post-loader,
.list-loader {
	margin: .5em;
	height: 1em;
	width: 1em;
    text-align: center;
	animation: spinner .6s linear infinite;
}

.nav-loader {
	display: none;
	position: relative;
	width: 100%;
}

.nav-loader .post-loader {
	margin: 2em auto;
}

li .list-loader {
	position: absolute;
	top: 1em;
	right: -.6em;
}

.loading  {
	opacity: .25;
}

/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/
.navigation-list {
	padding: 0;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
	background: white;
}

.navigation-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation-list li {
	position: relative;
	margin: 0;
	padding: 0;
	border-top: 1px solid #fff;
}

.navigation-list a {
	display: block;
	padding: 1em ;
	border-bottom: none;
}

.navigation-list a:focus,
.navigation-list a:hover {
	background: #f2f2f2;
}

.navigation-list .current {
	background: #f2f2f2;
}

/*--------------------------------------------------------------
Page content
--------------------------------------------------------------*/
.post-title {
	margin-bottom: 0.3em;
	padding-bottom: .3em;
	font-size: 3em;
	line-height: 1.1em;
	border-bottom: 1px solid #ddd;
}

.edit-toggle {
	display: none;
}

#titleform {
	display: none;
}

#title-input {
	display: block;
	margin-top: 0.63em;
	margin-bottom: 0.5em;
	padding-bottom: .1em;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 3em;
	line-height: 1.1em;
	border: 1px solid #ddd;
}

.post-meta {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-style: italic;
	font-size: 1.1em;
	margin-bottom: 2em;
}

.post-author,
.post-date {
	font-weight: 700;

}

.post-content {
	margin-bottom: 4em;
    font-size: 1.2em;
	font-weight: 300;
}

.teaser {
    padding: 0 1em;
    font-size: 1.2em;
}



/*--------------------------------------------------------------
Footer styles
--------------------------------------------------------------*/

.footer {
    padding: 3em;
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	color: #FFFCED;
    background: hsl(0, 0%, 10%);
	text-align: center;
}

.footer-title {
	font-size: 1.2em;
	font-weight: 700;
}
.footer p {
	font-weight: normal;
}
